/* ================= GENERAL STYLES ================== */
html,
body {
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-weight: 400;
  color: #e3e3e3;
  font-family: "Google Sans", sans-serif;
  line-height: 1.88;
  font-size: 1rem;
  background-color: #1f1f1f;
  font-variant-ligatures: no-common-ligatures;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
h1 {
  font-family: "Google Sans", sans-serif;
  font-size: 88px;
  font-weight: 475;
  letter-spacing: 0;
  line-height: 52px;
  font-variation-settings: "GRAD" 0, "opsz" 18;
}
h2 {
  font-family: "Google Sans", sans-serif;
  font-size: 24px;
  font-weight: 550;
  letter-spacing: 0;
  line-height: 80%;
  font-variation-settings: "GRAD" 0, "opsz" 18;
}
p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #e3e3e3;
}

/* ================= PAGE STRUCTURE ================== */
.App {
  position: relative;
  padding-left: 19%;
  margin: 0;
  background-color: #1f1f1f;
  color: #e3e3e3;
  flex-grow: 1;
}
.main-container {
  position: relative;
  display: block;
  overflow-x: hidden;
  padding: 15px 0 40px 0;
}

/* ================= LOGIN ================== */
.login-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.primary-container {
  padding-top: 3%;
  display: block;
  justify-content: center;
  text-align: center;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130%;
  background-image: url("https://lh3.googleusercontent.com/0ZnL2zDiDVmtuWCeKL6K552nCk4idZVPXHeLgoXEXexXng3yBnj18gVbOXP27Rxyp4I0TI0Pu2Lr32Y3m5hvKronFP-muIHVEOBjpAVO35RvfqD07g=w2400");
}
@keyframes slide-up {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(8%);
  }
}
.transition-in {
  opacity: 0.75;
  transform: translateY(100%);
  animation: slide-up 0.2s ease-in forwards;
  transition: opacity 0.25s ease-in;
  position: fixed;
  left: 0;
  top: -7%;
  width: 100%;
  height: 130%;
}
.transitioned-in {
  opacity: 1;
  position: fixed;
  height: 120%;
  top: -7%;
}
@keyframes slide-up2 {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(7%);
  }
}
.transition-in2 {
  bottom: 80%;
  opacity: 0.75;
  transform: translateY(100%);
  animation: slide-up2 0.2s ease-in forwards;
  transition: opacity 0.25s ease-in;
  position: fixed;
  left: 0;
  top: -5%;
  width: 100%;
  height: 130%;
}
.transitioned-in2 {
  opacity: 1;
  position: fixed;
  height: 115%;
  top: -5%;
}
.welcome-card {
  background: #e3e3e3;
  border-radius: 24px;
  display: block;
  margin: 0 auto;
  padding: 8%;
  padding-top: 0%;
  width: 70%;
  height: 80%;
}
.welcome-card h1,
p {
  color: #2d2f31;
}
.light-dark-mode {
  display: flex;
  justify-content: flex-end;
}

.guest-btn {
  cursor: pointer;
  background: #a8c7fa;
  color: #062e6f;
  border-radius: 48px;
  padding: 22px;
}
.guest-btn-content {
  font-size: 24px;
}
.or-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}
.or-left-line {
  height: 1px;
  margin-right: 11px;
  margin-left: 11px;
  flex: 1 1 0%;
  background-image: linear-gradient(
    90deg,
    rgba(233, 237, 241, 0) 35%,
    rgb(161, 165, 190)
  );
  border-radius: 2px;
}
.or {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.or-right-line {
  display: block;
  height: 1px;
  margin-right: 11px;
  margin-left: 11px;
  flex: 1 1 0%;
  background-image: linear-gradient(
    90deg,
    rgba(233, 237, 241, 0) 35%,
    rgb(161, 165, 190)
  );
  transform: rotate(180deg);
  border-radius: 2px;
}
.contact-card-wrapper {
  margin-top: 3%;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.contact-card {
  display: flex;
  align-items: center;
  margin-right: 0.35%;
  margin-left: 0.35%;
  color: #e3e3e3;
  width: 100%;
  height: 90px;
  padding: 5%;
  transition: border-radius 0.3s cubic-bezier(0.2, 0, 0, 1),
    background-color 0.3s cubic-bezier(0.2, 0, 0, 1);
  border-radius: 24px;
  background: #28292a;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  white-space: pre;
}
.contact-card:hover {
  transition: all 0.2s ease-in-out;
  background: #085786;
  color: #e3e3e3;
}
.contact-card:hover span {
  text-decoration: underline;
}

/* ================= SIDEBAR ================== */
.sidebar {
  border-radius: 24px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-box-shadow: 0 30px 50px 0 rgba(1, 1, 1, 0.2);
  box-shadow: 0 30px 50px 0 rgba(1, 1, 1, 0.2);
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  z-index: 99;
  width: 310px;
  background-color: #2d2f31;
}
/* ================= GUESTLOGIN BAR ================== */
.guest-login-bar {
  margin-top: 10%;
  text-align: left;
  background-color: #085786;
  color: #e3e3e3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 10%;
  bottom: 1%;
  position: fixed;
  right: 15%;
  border-radius: 40px;
  white-space: pre;
}
.guest-login-bar p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #e3e3e3;
}
